*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

#welcome {
    background: url("../Images/cover.jpg") center center no-repeat;
}

#welcome img {
    background-size: cover;
}

#navbar {
    padding-top: 0;

}

#navbar a {
    padding-right: 2.4rem;
}

a:hover {
    backgroung-color: rgb(154, 202, 54);
}

.cmc-button {
    border-radius: 1.3rem;
    background-color: rgb(154, 202, 54);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    border: solid;
    border-width: thin;
}

.cmc-button:hover {
    background-color: white;
    color: rgb(154, 202, 54);
}
