html,
body {
    height: 100%;
    background-color: #000;
}

/*#background {
    background: url(../Images/car.jpg) center center no-repeat fixed;
    height: 60%;
    background-size: cover;
}*/

#background {
    padding: 5rem 5rem;
    background-color: antiquewhite;
}

#cmc {
    padding-right: -2rem;
